Options -Indexes


## SITE REFERRER BANNING
RewriteEngine on
# Options +FollowSymlinks

RewriteCond %{HTTP_REFERER} clodo\.ru [NC]
RewriteRule .* - [F]


## USER IP BANNING
<Limit GET POST>
 order allow,deny
 deny from 62.76.182.8
 deny from 62.76.182.7
 deny from 62.76.181.213
 deny from 62.76.181.212
 allow from all
</Limit>


<Files vars-config.ini>
Order allow,deny
Deny from all
</Files>

# Redirect for educational purposes
Redirect 301 /tess https://www.nasa.gov/tess-transiting-exoplanet-survey-satellite
Redirect 301 /TESS https://www.nasa.gov/tess-transiting-exoplanet-survey-satellite
Redirect 301 /kepler https://www.nasa.gov/mission_pages/kepler/main/index.html
Redirect 301 /iss https://www.nasa.gov/mission_pages/station/main/index.html
Redirect 301 /ISS https://www.nasa.gov/mission_pages/station/main/index.html
Redirect 301 /hubble https://www.nasa.gov/mission_pages/hubble/main/index.html
Redirect 301 /juno https://www.nasa.gov/mission_pages/juno/main/index.html
Redirect 301 /webb https://www.nasa.gov/mission_pages/webb/main/index.html
Redirect 301 /jameswebb https://www.nasa.gov/mission_pages/webb/main/index.html
Redirect 301 /jwst https://www.nasa.gov/mission_pages/webb/main/index.html
Redirect 301 /JWST https://www.nasa.gov/mission_pages/webb/main/index.html

ErrorDocument 400 /error.html
ErrorDocument 401 /error.html
ErrorDocument 403 /error.html
ErrorDocument 404 /error.html
ErrorDocument 500 /error.html
