/**
 * Button styles
 */


/* button wrapper and button */
.btn-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 4px;
    position: absolute;
    width: 100%;
}

.btn,
.sweet-alert button,
.touch .btn:hover {
    background-color: rgba(65, 65, 65, 0.5);
    border: 1px solid rgba(170, 170, 170, 0.5);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #FFF;
    cursor: pointer;
    margin: 0 0 0 3px;
    outline: 0;
    padding: 2px 15px;
    position: relative;
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    transition: 0.1s all ease;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

.btn:hover,
.btn.active,
.btn.active:hover {
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(170, 170, 170);
    color: #000;
    text-shadow: none;
}

.btn.active {
    background-color: rgba(250, 250, 250, 0.8);
}

.btn[class*="refresh"] { z-index: 11; }

.btn-wrapper.left .btn:first-child { margin-left: 0; }
.btn-wrapper.left .btn:last-child { margin-right: auto; }

.btn-wrapper.right .btn:first-child { margin-left: auto; }
.btn-wrapper.right .btn:last-child { margin-right: 0; }


/* justify btn width styles */
.btn.justify-width {
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
}

/* btn styles for anchor tags */
.btn.btn-large {
    border: 1px solid #FFF;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px 5px 0;
    padding: 8px 20px 9px;
    text-decoration: none;
    text-shadow: none;
}

.btn.btn-large:hover,
.btn.btn-large.btn-link:hover {
    background-color: #FFF;
    color: #000;
}

.btn.btn-large.btn-link {
    background: transparent;
    border: none;
}

.btn.toggle-menu { text-transform: uppercase; }


/* used for the general site info overlay */
/*.site-info-btn-row {
    bottom: 10px;
    left: 10px;
    position: fixed;
    z-index: 5;
}
.site-info-btn-row .btn {
    background-color: rgba(225, 225, 225, 0.9);
    border-color: #CCC;
    color: #000;
    font-size: 14px;
    padding: 4px 20px 6px;
    text-shadow: none;
}

.site-info-btn-row .btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: #000;
    color: #FFF;
}

@-webkit-keyframes pulse {
    0% { opacity: 1; }
    92% { opacity: 1; }
    96% { opacity: 0.2; }
    100% { opacity: 1; }
}
@keyframes pulse {
    0% { opacity: 1; }
    92% { opacity: 1; }
    96% { opacity: 0.2; }
    100% { opacity: 1; }
}*/

/* message btn */
/*.btn.site-alert {
    display: none;
    -webkit-transition: 2s opacity ease;
    transition: 2s opacity ease;
}

.btn.site-alert.unread {
    animation: pulse 4s ease;
    animation-iteration-count: infinite;
    -webkit-animation: pulse 4s ease;
    -webkit-animation-iteration-count: infinite;
    background-color: rgba(42, 116, 152, 0.9);
    border-color: #1a5a79;
    color: #FFF;
}

.btn.site-alert.unread:after {
    content: "1";
    background-color: #b10a00;
    border: 1px solid #980900;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 9px;
    height: 12px;
    overflow: hidden;
    padding: 2px;
    position: absolute;
    right: -7px;
    top: -7px;
    width: 12px;
}

.btn.site-alert.unread:hover { background-color: #174e69; }*/

/* message btn - error */
/*.btn.site-alert.unread.error {
    background-color: rgba(206, 30, 0, 0.9);;
    border-color: #9e2b03;
    color: #FFF;
}
.btn.site-alert.unread.error:hover { background-color: #b30000; }*/

