/**
 * Full grid column section menu styles
 */


/* base menu styles */
.menu {
    background-color: rgba(0, 0, 0, 0.85);
    box-sizing: border-box;
    color: #fff;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    padding: 30px 50px;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    visibility: hidden;
    width: 100%;
    z-index: 12;
}

.menu.visible {
    opacity: 1;
    visibility: visible;
}

/* full screen menu */
.menu.full-screen {
    display: none;
    font-size: 20px;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 40px 80px;
    position: fixed;
    top: 0;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
    word-break: break-word;
    z-index: 101;
}

.menu.full-screen .close-menu {
    height: 20px;
    right: 25px;
    top: 25px;
    width: 20px;
}

.menu.full-screen .close-menu:before,
.menu.full-screen .close-menu:after { width: 20px; }


.menu a:not(.btn) {
    border-bottom: 1px solid #FFF;
    color: #FFF;
    text-decoration: none;
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    transition: 0.1s all ease;
}

.menu a:not(.btn):hover { border-width: 3px; }

.close-menu {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    height: 12px;
    margin: 0;
    padding: 10px;
    position: absolute;
    right: 8px;
    top: 8px;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
    width: 12px;
    z-index: 1;
}

.close-menu:before,
.close-menu:after {
    content: '';
    background-color: #FFF;
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
    width: 12px;
}

.close-menu:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-menu:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close-menu:hover { background-color: #FFF; }

.close-menu:hover:before,
.close-menu:hover:after { background-color: #000; }

.menu .menu-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}
