/* 
  Contact form styles
*/
.contact-form-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  backdrop-filter: blur(4px);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px 60px;
  color: #fff;
}
