/*
  Core styles for Space Dashboard
*/

:focus-visible {
  box-shadow: var(--focus-visible-box-shadow);
  outline: none;
}

html {
  font-size: 16px;
  overscroll-behavior: none;
}

body {
  accent-color: hsl(
    var(--base-blue-hue),
    var(--base-blue-saturation),
    calc(var(--base-blue-lightness) + 20%)
  );
  font-family: var(--font);
  overscroll-behavior: none;
  padding: 0;
}

input:focus,
textarea:focus,
p:focus {
  box-shadow: 0 0 0 1px rgba(45, 125, 189, 0.8) !important;
  outline: none;
  transition: 0.08s all ease;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 1.4;
  margin: 0;
  max-width: 900px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0 0 4px;
}

a {
  color: #fff;
  margin-bottom: 8px;
  position: relative;
  text-decoration: none;

  &::before {
    background-color: rgba(255, 255, 255, 0.3);
    bottom: -1px;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    transition: 0.08s all ease;
    width: 100%;
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        background-color: rgba(255, 255, 255, 0.5);
        bottom: -2px;
        height: 2px;
      }
    }
  }

  &:focus-visible {
    &::before {
      background-color: rgba(255, 255, 255, 0.5);
      bottom: -2px;
      height: 2px;
    }
  }
}

.bg-container {
  animation: 0.5s ease forwards opacityIn;
  opacity: 0;

  /* 
  <<<<< Very close to being able to use only this: https://developer.mozilla.org/en-US/docs/Web/CSS/@starting-style >>>>>
  opacity: 1;
  transition: 1s opacity ease;

  @starting-style {
    .bg-container {
      opacity: 0;
    }
  }
  */

  &::before {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: linear-gradient(
      0deg,
      hsl(
          var(--index-defined-base-blue-hue),
          var(--index-defined-base-blue-saturation),
          calc(var(--index-defined-base-blue-lightness) - 10%)
        )
        0%,
      transparent 100%
    );
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &::after {
    background-image: url('/img/bg-dotted.png');
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

#app {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--100-vh);
  width: 100vw;
}

.content-wrapper {
  height: var(--100-vh);
  overflow-y: auto;
  padding: 25px;
  width: calc(100vw - 120px);
}

.content {
  transition:
    var(--content--transition-duration) opacity ease,
    var(--content--transition-duration) transform ease,
    var(--content--transition-duration) filter ease;
}

.content-column-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--content--gap);
  max-width: 100%;
  position: relative;
  width: 100%;

  .content-column {
    display: flex;
    flex-direction: column;
    width: var(--content-column--width);
  }
}

.content-two-up {
  container-type: inline-size;
  gap: var(--content-two-up--gap);
  width: 100%;

  > div {
    width: calc((100% - var(--content-two-up--gap)) / 2);

    &:first-child {
      float: left;
      position: relative;

      &::before {
        background-color: rgba(255, 255, 255, 0.15);
        content: '';
        height: 100%;
        position: absolute;
        right: calc(-1 * var(--content-two-up--gap) / 2);
        width: 1px;
      }
    }

    &:last-child {
      float: right;
    }
  }
}

.aspect-16-9 {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

iframe {
  border: none;
  margin: 0;
  overflow: hidden;
}

form {
  max-width: 500px;
  padding-right: 30px;
  width: 100%;
}

label:has(input),
input[type='checkbox'] {
  cursor: pointer;
}

input::placeholder {
  font-style: italic;
}

.text-error {
  color: #ff8585;
  margin: 6px 0;
}

input[type='text'],
input[type='email'],
input[type='number'],
textarea {
  background: var(--input--bg-color);
  border-bottom-color: var(--input--bottom-border-color);
  border: 1px solid var(--input--border-color);
  box-sizing: border-box;
  color: var(--input--text-color);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  width: 100%;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus,
textarea:focus {
  background: var(--input--focus-hover--bg-color) !important;
}

@media (hover: hover) {
  input[type='text']:hover,
  input[type='email']:hover,
  input[type='number']:hover,
  textarea:hover {
    background: var(--input--focus-hover--bg-color) !important;
  }
}

/* TODO: ? */
/* input[type='text'],
input[type='email'],
input[type='number'] {
  max-width: 350px;
} */

input[type='checkbox'] {
  font-size: 16px;
}

textarea {
  min-height: 200px;
}

label {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0;
  width: fit-content;
}

label:has(input) {
  align-items: center;
  display: flex;
  gap: 10px;
}
