/*
  Core styles for Space Dashboard
*/

:focus-visible {
  box-shadow: var(--focus-visible-box-shadow);
  outline: none;
}

body {
  accent-color: hsl(
    var(--base-blue-hue),
    var(--base-blue-saturation),
    calc(var(--base-blue-lightness) + 20%)
  );
  font-family: var(--font);
  overscroll-behavior: none;
  padding: 0;
}

input:focus,
textarea:focus,
p:focus {
  box-shadow: 0 0 0 1px rgba(45, 125, 189, 0.8) !important;
  outline: none;
  transition: 0.08s all ease;
}

p {
  margin: 0 0 10px;
}

.bg-container {
  animation: 0.5s ease forwards bgContainerFadeIn;
  opacity: 0;

  &::before {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: linear-gradient(
      0deg,
      hsl(
          var(--index-defined-base-blue-hue),
          var(--index-defined-base-blue-saturation),
          calc(var(--index-defined-base-blue-lightness) - 10%)
        )
        0%,
      transparent 100%
    );
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &::after {
    background-image: url('/img/bg-dotted.png');
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@keyframes bgContainerFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: 100%;
  overflow-y: auto;
  padding: 25px;
  width: calc(100vw - 120px);

  .container-column {
    /* --column-gap: 5px; */
    --column-width: 33.33%;
    display: flex;
    flex-direction: column;
    /* gap: var(--column-gap); */
    width: var(--column-width);
  }
}

.aspect-16-9 {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

iframe {
  border: none;
  margin: 0;
  overflow: hidden;
}

form {
  label:has(input),
  input[type='checkbox'] {
    cursor: pointer;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .text-error {
    color: #ff8585;
    margin: 6px 0;
  }

  /* .close-contact-form {
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    outline: none;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 30px;

    span {
      --close-contact-span-bg-color: #000;
      background: var(--close-contact-span-bg-color);
      height: 100%;
      width: 1px;

      body.dark-mode & {
        --close-contact-span-bg-color: #fff;
      }

      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }

    @media (hover: hover) {
      &:hover {
        --close-x-color: #000;
        span {
          box-shadow: 0 0 0 1px var(--close-x-color);

          body.dark-mode & {
            --close-x-color: #fff;
          }
        }
      }
    }
  } */

  input[type='text'],
  input[type='email'],
  input[type='number'],
  textarea {
    --contact-form-input-bg-color: rgba(20, 20, 20, 0.75);
    /* --contact-form-input-bg-color: rgba(255, 255, 255, 0.08); */
    --contact-form-input-border-color: rgba(255, 255, 255, 0.15);
    --contact-form-input-bottom-border-color: rgba(255, 255, 255, 0.8);
    --contact-form-input-text-color: #fff;
    background: var(--contact-form-input-bg-color);
    border: 1px solid var(--contact-form-input-border-color);
    border-bottom-color: var(--contact-form-input-bottom-border-color);
    box-sizing: border-box;
    color: var(--contact-form-input-text-color);
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: 0;
    padding: 10px;
    resize: none;
    width: 100%;
  }

  input[type='text']:focus,
  input[type='email']:focus,
  input[type='number']:focus,
  textarea:focus {
    /* --contact-form-input-focus-bg-color: rgba(255, 255, 255, 0.06); */
    --contact-form-input-bg-color: rgba(20, 20, 20, 0.8);
    background: var(--contact-form-input-focus-bg-color) !important;
  }

  @media (hover: hover) {
    input[type='text']:hover,
    input[type='email']:hover,
    input[type='number']:hover,
    textarea:hover {
      /* --contact-form-input-hover-bg-color: rgba(255, 255, 255, 0.06); */
      --contact-form-input-bg-color: rgba(20, 20, 20, 0.8);
      background: var(--contact-form-input-hover-bg-color) !important;
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='number'] {
    max-width: 350px;
  }

  input[type='checkbox'] {
    font-size: 16px;
  }

  textarea {
    max-width: 600px;
  }

  /* input:not(:empty),
  textarea:not(:empty) {
    background: #ccc !important;
  }

  @media (hover: hover) {
    input:not(:empty):hover,
    textarea:not(:empty):hover {
      background: #ccc !important;
    }
  } */

  label {
    margin: 0 0 5px;
    display: inline-block;
  }

  label:first-child {
    margin-top: 0;
  }

  label:has(input) {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  .button-row {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
