/*
  Navigation styles
*/

nav {
  animation: renderNavIn var(--navbar--animation-duration) ease forwards;
  animation-delay: var(--navbar--animation-delay);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background: hsla(
    var(--base-blue-hue),
    var(--base-blue-saturation),
    calc(var(--base-blue-lightness) - 4%),
    var(--navbar--background-opacity)
  );
  box-sizing: border-box;
  container-type: size;
  height: 0;
  margin-left: 25px;
  padding: 0;
  transform: scaleX(0);
  width: 85px;
  z-index: 1;

  &::before {
    animation: renderNavBeforeIn var(--navbar--animation-duration) ease forwards;
    animation-delay: var(--navbar--before--animation-delay);
    border: 2px solid
      hsl(
        var(--base-blue-hue),
        var(--base-blue-saturation),
        calc(var(--base-blue-lightness) + 15%)
      );
    border-left-width: 0;
    border-right-width: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .nav-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
  }

  .logo {
    /* animation set in NavBar.tsx */
    background: #fff;
    border-radius: 50%;
    display: block;
    font: 10px sans-serif;
    height: 50px;
    opacity: 0;
    width: 50px;
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    button {
      opacity: 0;
    }
  }
}

@keyframes renderNavIn {
  0% {
    height: 0;
    padding: 0;
    transform: scaleX(0);
  }
  50% {
    height: 0;
    padding: 0;
    transform: scaleX(1);
  }
  100% {
    height: calc(100% - 50px);
    padding: 15px 0;
    transform: scaleX(1);
  }
}

@keyframes renderNavBeforeIn {
  0% {
    height: 0;
    top: 0;
  }
  50% {
    height: 0;
    top: 0;
  }
  99% {
    height: calc(100% + 10px);
    top: 0;
  }
  100% {
    height: calc(100% + 10px);
    top: -5px;
  }
}
