/*
  Navigation styles
*/

nav {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background: hsla(
    var(--base-blue-hue),
    var(--base-blue-saturation),
    calc(var(--base-blue-lightness) - 6%),
    0.8
  );
  box-sizing: border-box;
  height: 1px;
  margin: 25px;
  margin-right: 10px;
  margin-top: 50vh;
  padding: 0;
  transform: scaleX(0);
  width: 85px;

  /*
    Due to inconsistent browser implementation for backdrop-filter, this ensures
    the background image is rendered with the desired blur effect.
  */
  /* &::before {
    animation: 2s ease normal forwards 1 backgroundOpacityIn;
    animation-delay: 1.4s;
    background-image: url('/img/bg-1.png');
    background-attachment: fixed;
    background-position: -25px -27px;
    background-repeat: repeat;
    content: '';
    filter: blur(3px);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  } */

  &::after {
    border: 2px solid
      hsl(
        var(--base-blue-hue),
        var(--base-blue-saturation),
        calc(var(--base-blue-lightness) + 10%)
      );
    border-left-width: 0;
    border-right-width: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .nav-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
  }

  .logo {
    background: #fff;
    border-radius: 50%;
    display: block;
    font: 10px sans-serif;
    height: 50px;
    opacity: 0;
    width: 50px;
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    button {
      opacity: 0;
    }
  }
}
