/*
  Override styles for tooltip
*/

.sd-tooltip {
  background-color: hsl(
    var(--base-blue-hue),
    var(--base-blue-saturation),
    calc(var(--base-blue-lightness) + 1%)
  ) !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  z-index: 1000;
}

.sd-tooltip-arrow {
  /* Style? */
  /* display: none; */
}
